<form action="{:url()}" method="post" class="form_single">
    <div class="box">
        <div class="box-body">
            <div class="row">


                <div class="col-md-6">
                    <div class="form-group">
                        <label>个人姓名</label>
                        <input class="form-control" name="users"  value="{$info.users|default=''}" type="text">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>个人住址</label>
                        <input class="form-control" name="address" value="{$info.address|default=''}"type="text">
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label>上传图片</label>
                        <br/>
                        {assign name="user_img" value="$info.user_img|default='0'" /}
                        {:widget('file/index', ['name' => 'user_img', 'value' =>$info.user_img, 'type' => 'img'])}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>个人简介</label>
                        <textarea class="form-control textarea_editor" name="content" placeholder="请输入个人简介">
                            {$info.content|default=''}
                        </textarea>
                        {:widget('editor/index', array('name'=> 'content',))}
                    </div>
                </div>


            </div>
        </div>
        <div class="box-footer">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            {include file="layout/edit_btn_group"/}
        </div>
    </div>
</form>
