<form action="{:url()}" method="post" class="form_single">
    <div class="box">
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>名称</label>
                        <input class="form-control" name="name" placeholder="请输入菜单名称" value="" type="text">
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label>上级菜单</label>
                        <span>（所属的上级菜单）</span>
                        <select name="pid" class="form-control">
                            <option value="0">顶级菜单</option>

                        </select>
                    </div>
                </div>




            </div>
        </div>
        <div class="box-footer">

            <input type="hidden" name="id" value="{$info['id']|default='0'}"/>

            <button  type="submit" class="btn ladda-button ajax-post" data-style="slide-up" target-form="form_single">
                <span class="ladda-label"><i class="fa fa-send"></i> 确 定</span>
            </button>

            <a class="btn" href="{:url('menuList')}"><i class="fa fa-history"></i> 返 回</a>

        </div>
    </div>
</form>

<script type="text/javascript">

</script>