<div class="box">
    <div class="box-header">
        <ob_link><a class="btn" href="{:url('menuAdd',array('pid' => $pid))}"><i class="fa fa-plus"></i> 新 增</a></ob_link>
        <br/>
    </div>

    <!-- /.box-header -->
    <div class="box-body table-responsive">
        <table  class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th class="checkbox-select-all">
                    <label>
                        <input class="flat-grey js-checkbox-all" type="checkbox">
                    </label>
                </th>
                <th>名称</th>
                <th class="sort-th">排序</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>
                    <ob_link><a class="btn-frameless" href=""></a></ob_link>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td><input type="text" class="sort-th sort-text" href="{:url('setSort')}" id="" value="" /></td>
                <td class="col-md-3 text-center">
                    <a href="" class="btn"><i class="fa fa-reorder"></i> 子菜单</a>
                    &nbsp;
                    <ob_link><a href="" class="btn"><i class="fa fa-edit"></i> 编 辑</a></ob_link>
                    &nbsp;
                    <ob_link><a class="btn confirm ajax-get" href=""><i class="fa fa-trash-o"></i> 删 除</a></ob_link>
                </td>
            </tr>

            </tbody>
        </table>

        {include file="layout/batch_btn_group"/}

    </div>

    <div class="box-footer clearfix text-center">

    </div>

</div>