<form action="{:url('edit')}" method="post" class="form_single">
    <div class="box">
        <div class="box-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>扶贫作品分类</label>
                        <select name="cates_id" class="form-control">
                            {volist name='cates' id='vo'}
                            <option value="{$key}" {eq name="$info.cates_id" value="$key"} selected="" {/eq}>{$vo}</option>
                            {/volist}
                        </select>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label>标题名称</label>
                        <input class="form-control" name="title"  value="{$info.title|default=''}" type="text">
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label>上传文件</label>
                        <br/>
                        {assign name="resources" value="$info.resources|default='0'" /}
                        {:widget('file/index', ['name' => 'resources', 'value' =>$info.resources, 'type' => 'file'])}
                    </div>
                </div>


            </div>
        </div>
        <div class="box-footer">

            <input type="hidden" name="id" value="{$info.id|default=''}" />
            {include file="layout/edit_btn_group"/}
        </div>
    </div>
</form>
