<form action="{:url('editcontent')}" method="post" class="form_single">
    <div class="box">
        <div class="box-body">
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label>标题名称</label>
                        <input class="form-control" name="title" placeholder="请输入标题名称" type="text" value="{$info.title|default=''}">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>上传视频文件</label>
                        <br/>
                        {assign name="video" value="$info.video|default='0'" /}
                        {:widget('file/index', ['name' => 'video', 'value' =>'', 'type' => 'file'])}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>文章内容</label>
                        <textarea class="form-control textarea_editor" name="content" placeholder="请输入文章内容">{$info['content']|default='0'}</textarea>
                        {:widget('editor/index', array('name'=> 'content','value'=>$info.content))}
                    </div>
                </div>

            </div>
        </div>
        <div class="box-footer">
            <input type="hidden" name="id" value="{$info.id|default=''}" />
            {include file="layout/edit_btn_group"/}
        </div>
    </div>
</form>
